<p id="notice"><%= notice %></p>
<% if current_user.admin == true%>
	<%= link_to 'Edit', edit_topico_path(@topico) %> |
<% end %>
<%= link_to 'Back', topicos_path %>
<p>
  <strong>Titulo:</strong>
  <%= @topico.titulo %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @topico.corpo %>
</p>

<h2>Comentarios</h2>
<% @topico.comentarios.each do |comentario|%>
	<p>
		<strong>Autor:</strong>
		<%= comentario.usuario %>
	</p>

	<p>
		<strong>Texto:</strong>
		<%= comentario.texto %>
	</p>
	<%if comentario.usuario == current_user.email or current_user.admin %>
	<%= link_to 'Destroy', topico_comentario_path(@topico, comentario), method: :delete, data: { confirm: 'Are you sure?' }%>
			<% end  %>
<% end %>

<%= form_for([@topico, @topico.comentarios.build]) do |c|%>

	<div class="field">
		<%= c.label :usuario %>
		<%= c.text_field :usuario, id: :comentario_usuario, :value => current_user.email, :readonly => true %>
	</div>

	<div class="field">
		<%= c.label :texto %>
		<%= c.text_area :texto, id: :comentario_texto %>
	</div>

	<div class="actions">
		<%= c.submit %>
	</div>
<% end %>