<%= form_with(model: formulario, local: true) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
      <% formulario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contratante %>
    <%= form.text_field :contratante, id: :formulario_contratante %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, id: :formulario_descricao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :formulario_data %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local, id: :formulario_local %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
